main{
text-align: center;
}
 p{
    color: #959595;
    font-size: 0.8em;
 }

/* section menu-2 (Antonino)*/
#menu-2{
    padding: 60px 0px;
}
#title-menu2{
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
}
.span{
    color: orangered;
}
.hr{
    width: 10vw;
    margin-bottom: 40px;
}
/*Section-price (Antonino)*/
#section-price{
    padding-top: 18vh;
    padding-left: 5vw;
    text-align: left;
    padding-right: 5vw;
    padding-bottom: 20vh;
}
.span2{
    float: right;
}

.h2{
    display: inline-block;
    position: relative;
}
.sottotitolo{
    position:relative;
}
.text-right{
    text-align: right;
    padding-top: 50px;
    padding-right: 2.5vw;
}
#border-bottom{
    position:absolute;
    top:20px;
    width: 68.5vw;
    border: 1px dotted #c9c9c9;
    margin-top: 20px;
    margin-left: 175px;
}
#border-bottom2{
    position:absolute;
    top:20px;
    width: 61vw;
    border: 1px dotted #c9c9c9;
    margin-top: 20px;
    margin-left: 278px;
}
#border-bottom3{
    position:absolute;
    top:20px;
    width: 61vw;
    border: 1px dotted #c9c9c9;
    margin-top: 20px;
    margin-left: 275px;
}
#border-bottom4{
    position:absolute;
    top:20px;
    width: 69vw;
    border: 1px dotted #c9c9c9;
    margin-top: 20px;
    margin-left: 170px;
}
#border-bottom5{
    position:absolute;
    top:20px;
    width: 52vw;
    border: 1px dotted #c9c9c9;
    margin-top: 20px;
    margin-left: 405px;
}
#border-bottom6{
    position:absolute;
    top:20px;
    width: 72vw;
    border: 1px dotted #c9c9c9;
    margin-top: 20px;
    margin-left: 135px;
}


#button{
    padding:28px 105px ;
    background-color: none;
    border: 1px solid #FF4F02;
    color: #FF4F02;
    text-transform: uppercase;
    font-size: 15px;
}
#button:hover{
    background-color: #FF4F02;
    color: white;
}
/*Section-subscribe (Antonino)*/
#subscribe{
    content: "";
    color:white;
    background: url('../assets/images/subscribe-bg.jpg');
    height: 65vh;
    width: 98vw;
    right: 0;
    position: absolute;
    opacity: 0.8;
}